<!DOCTYPE html>
<html>
<head>
	<title>BlueBooking</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="frame">
	<header>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<span class="navbar-brand">BlueBooking</span>
			</div>
		</nav>
	</header>